* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#8054fa, #ff22e5);
    border-radius: 4px;
    cursor: auto;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#drawer {
  display: flex;
  justify-content: end;
  gap: 5px;
  background-color: rgb(56, 56, 56);
  color: ghostwhite;
  height: 20px;
  padding-inline: 10px;
}

.drawer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5px;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  width: max-content;
}
.drawer-items:hover {
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}

#main {
  flex-grow: 1;
  display: flex;
  background-color: rgb(0, 0, 0);
  gap: 2px;
}

#main textarea {
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.input {
  flex-grow: 1;
  resize: none;
  background-color: black;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Fira Code", monospace;
  letter-spacing: 0.5px;
}

#html::placeholder {
  color: white;
  background-color: #e34f26;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  width: min-content;
}

#css::placeholder {
  color: white;
  background-color: #264de4;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  width: min-content;
}

#javascript::placeholder {
  color: black;
  background-color: #f7df1e;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 3px;
  width: min-content;
}

#dom-output {
  display: none;
  position: absolute;
  height: calc(100vh - 20px);
  width: 100%;
  overflow: hidden;
}

#frame {
  background-color: white;
  width: 100%;
  height: 100%;
}
